<div class="container">
    <div class="row">
        <div class="col-5 mx-auto">
            <h3 class="bg-primary text-white p-3">
                {{getName()}}' todo list
            </h3>
            <div class="input-group mb-3">
                <input #txt type="text" class="form-control"(keyup.enter)="addItem(txt.value)">
                <button class="btn btn-outline-primary"(click)="addItem(txt.value)">Add</button>
            </div>
            
            <div class="form-check mb-2">
                <input type="checkbox" [(ngModel)]="displayAll" class="form-check-input" name="" id="displayAll">
                <label for="displayAll" class="form-check-label">Hepsini Göster</label>
            </div>
            <div class="my-2">
                {{ displayCount() }} görev tamamlandı.
            </div>
            <div class="alert alert-warning " *ngIf="getItems().length == 0 else  itemsTable">
                Tüm görevler tamamlandı.
            </div>

            <ng-template #itemsTable>
            <table class="table table-bordered" >
                <thead>
                    <tr>
                        <th></th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of getItems(); let i= index;" [class.bg-primary]="item.action" [class.bg-warning]="!item.action">
                        <td>{{ i+1 }}</td>
                        <td>{{ item.description }}</td>
                        <td>
                            <!-- if bloğu -->
                            <!-- <div *ngIf="item.action">yes</div>
                            <div *ngIf="!item.action">no</div> -->

                            <!-- <div [ngSwitch]="item.action">
                                <div *ngSwitchCase="true">yes </div>
                                <div *ngSwitchDefault>no</div>
                            </div> -->
                                <!-- if-else bloğu -->
                            <!-- <div *ngIf="item.action else noTemplate">
                                yes
                            </div>
                            <ng-template #noTemplate></ng-template> -->
                                <!-- if-then-else bloğu -->
                            <div *ngIf="item.action then yesTemplate else noTemplate ">
                                burası gösterilmez
                            </div>
                            <ng-template #noTemplate>
                                no
                            </ng-template>

                            <ng-template #yesTemplate>
                                yes
                            </ng-template>

                        </td>
                        <td>
                            <input type="checkbox" [(ngModel)]="item.action" name="" id="">
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-template>

        </div>
    </div>
</div>
